{% extends 'base.html' %}
 
<title> {% block title%} About US {%endblock%} </title>
 
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center mt-3"> 
            <h1 class="login-header"> About Us </h1>
        </div>

        <p class="aboutus"> BITDROPS is an application created as my first capstone project for my springboard software engineering bootcamp. It's a platform that hosts airdrops for decentralized applications and smart contracts that run on blockchains. Please direct any inquiries to rambharwani7@gmail.com</p>
    </div>
</div>

{%endblock%}