<!-- Site footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa-solid fa-gift"></i> BITDROPS</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/airdrops/ongoing">Ongoing</a></li>
                            <li><a href="/airdrops/upcoming">Upcoming</a></li>
                            <li><a href="/airdrops/ended">Ended</a></li>
                            <li><a href="/bitdrops/participate">How To Participate</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="/bitdrops/aboutus">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-center">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
               <p> All inquiries should be directed to : rambharwani7@gmail.com</p>
            </div>
        </div>
    </div>
</footer>