{% extends 'base.html' %}
 
<title> {% block title%} How to participate {%endblock%} </title>
 
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center mt-3"> 
            <h1 class="login-header"> How to participate</h1>
        </div>

        <p class="aboutus"> Airdrops are tokens distributed to the general public to incentivize usage and adoption of a particulate project. Each project has its own set of requirements to participate in the airdrops giveaway. All requirements are listed for each project under project details. </p>
    </div>
</div>

{%endblock%}